$fontSize: 20px;
$fontFamily: Arial;

h1, h2, h3, h4, h5, h6 {
    font-family: $fontFamily;
    font-size: $fontSize;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.5rem;
}

@mixin bp-mobile {
    @media only screen and (max-width: 500px) {
        @content
    }
}

@mixin bp-desktop {
    @media only screen and (min-width: 500px) {
        @content
    }
}
